

<div class="main-content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12 ml-auto mr-auto">
                <div class="card">
                    <div class="card-header card-header-warning">
                        <h4 class="card-title">Demande de congés</h4>
                        <p class="card-category"> </p>
                    </div>
                    <div class="card-body">
                        <div class="col-md-12">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Objet" type="text">
                            </mat-form-field>
                        </div>

                            <div class="col-md-12">

                                <mat-form-field class="example-full-width">
                                    <textarea matInput placeholder="Écrivez un message ..."></textarea>
                                </mat-form-field>
                            </div>



                        <div class="col-md-12">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Date début" type="date">
                            </mat-form-field>
                        </div>
                        <div class="col-md-12">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Date fin" type="date">
                            </mat-form-field>
                        </div>

                    <div class="col-md-12 col-md-offset-2">

                      Ajouter des fichiers.
                        <form method="POST" action="#" enctype="multipart/form-data">
                            <div class="form-group">
                                <div class="input-group input-file" name="Fichier1">
                                    <span class="input-group-btn">
        		                  <button class="btn btn-default btn-choose" type="button"><i class="fa fa-paperclip"></i> </button>
    		                        </span>
                                    <input type="text" class="form-control" placeholder='Aucun ficher sélectionné' />
                                </div>
                            </div>
                        </form> <div> <button mat-raised-button type="submit" class="btn btn-warning pull-right">Confirmer</button></div>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>

<!--<div class="main-content">
        <div class="container-fluid">
                
            <div class="row">
                <div class="col-md-12 ml-auto mr-auto">
                    <div class="card">
                        <div class="card-header card-header-warning">
                            <h4 class="card-title">Répondre</h4>
                            <p class="card-category">Ici vous trouvez tous les demandes de congés et feedback.</p>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive table-upgrade">
                                <table class="table">
                                    <thead>
                                        <tr>

                                            <th >Objet</th>
                                            <th class="text-center">Type</th>
                                            <th class="text-center">Date </th>
                                            <th class="text-center">Expéditeur</th>
                                            <th class="text-center" ></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td >Demande </td>
                                            <td class="text-center">Demande de congés</td>
                                            <td class="text-center">21/05/2019</td>
                                            <td class="text-center">Fayrouz Ghediri</td>
                                            <td class ="text-center"><button mat-raised-button type="button" matTooltip="Consulter" [matTooltipPosition]="'above'" class="btn btn-dark btn-link btn-sm btn-just-icon">
                                                <i class="fa fa-eye"></i></button></td>
                                        </tr>
                                        <tr>
                                                <td>Demande </td>
                                            <td class="text-center">Feedback</td>
                                            <td class="text-center">21/05/2019</td>
                                            <td class="text-center">Fayrouz Ghediri</td>
                                            <td class ="text-center"><button mat-raised-button type="button" matTooltip="Consulter" [matTooltipPosition]="'above'" class="btn btn-dark btn-link btn-sm btn-just-icon">
                                                <i class="fa fa-eye"></i></button></td>
                                            </tr>
                                            <tr>
                                                    <td>Demande </td>
                                                <td class="text-center">Feedback</td>
                                                <td class="text-center">21/05/2019</td>
                                                <td class="text-center">Fayrouz Ghediri</td>
                                                <td class ="text-center"><button mat-raised-button type="button" matTooltip="Consulter" [matTooltipPosition]="'above'" class="btn btn-dark btn-link btn-sm btn-just-icon">
                                                    <i class="fa fa-eye"></i></button></td>
                                                </tr>
                                                <tr>
                                                        <td>Demande </td>
                                                    <td class="text-center">Demande de congés</td>
                                                    <td class="text-center">21/05/2019</td>
                                                    <td class="text-center">Salma Ayari</td>
                                                    <td class ="text-center"><button mat-raised-button type="button" matTooltip="Consulter" [matTooltipPosition]="'above'" class="btn btn-dark btn-link btn-sm btn-just-icon">
                                                        <i class="fa fa-eye"></i></button></td>
                                                    </tr>
                                                    <tr>
                                                            <td>Demande </td>
                                                        <td class="text-center">Feedback</td>
                                                        <td class="text-center">21/05/2019</td>
                                                        <td class="text-center">Ahmed Tounsi</td>
                                                        <td class ="text-center"><button mat-raised-button type="button" matTooltip="Consulter" [matTooltipPosition]="'above'" class="btn btn-dark btn-link btn-sm btn-just-icon">
                                                            <i class="fa fa-eye"></i></button></td>
                                                        </tr>


                                    </tbody>
                                </table>
                                <pre class="text-center"> 1 - 5 / 2 «     »</pre>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
-->
