<div class="main-content">
    <div class="container-fluid">
            
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
                <div class="card">
                    <div class="card-header card-header-warning">
                        <h4 class="card-title">Bibliothéque</h4>
                        <p class="card-category">Ici vous trouvez tous les fichiers qui peuvent être utiles pour vous. Vous pouvez télécharger ou ajouter.</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive table-upgrade">
                            <table class="table">
                                <thead>
                                    <tr>
                                        
                                        <th class="text-center">Titre</th>
                                        <th class="text-center">Date d'ajout</th>
                                        <th class="text-center" ><button mat-raised-button type="button"  class="btn btn-warning"><i class="fa fa-plus-circle"></i> </button></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Attestation de travail</td>
                                        <td class="text-center">20/05/2019</td>
                                        <td class ="text-center"><button mat-raised-button type="button" matTooltip="Télécharger" [matTooltipPosition]="'above'" class="btn btn-dark btn-link btn-sm btn-just-icon">
                                                <i class="fa fa-download  "></i></button></td>
                                    </tr>
                                    <tr>
                                            <td>Description projet Juillet</td>
                                            <td class="text-center">15/05/2019</td>
                                            <td class ="text-center"><button mat-raised-button type="button" matTooltip="Télécharger" [matTooltipPosition]="'above'" class="btn btn-dark btn-link btn-sm btn-just-icon">
                                                    <i class="fa fa-download  "></i></button></td>
                                        </tr>
                                        <tr>
                                                <td>Rapport Décembre 2018</td>
                                                <td class="text-center">15/05/2019</td>
                                                <td class ="text-center"><button mat-raised-button type="button" matTooltip="Télécharger" [matTooltipPosition]="'above'" class="btn btn-dark btn-link btn-sm btn-just-icon">
                                                        <i class="fa fa-download  "></i></button></td>
                                            </tr>
                                            <tr>
                                                <td>Demande de congés</td>
                                                <td class="text-center">10/05/2019</td>
                                                <td class ="text-center"><button mat-raised-button type="button" matTooltip="Télécharger" [matTooltipPosition]="'above'" class="btn btn-dark btn-link btn-sm btn-just-icon">
                                                        <i class="fa fa-download  "></i></button></td>
                                            </tr>
                                    
                                    
                                </tbody>
                            </table>
                            <pre class="text-center"> 1 - 4 / 6 «     »</pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
