<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-8">
              <div class="card">
                  <div class="card-header card-header-warning">
                      <h4 class="card-title">Modifier profil</h4>
                      
                  </div>
                  <div class="card-body">
                      <form >
                          <div class="row">
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Nom">
                                  </mat-form-field>
                              </div>
                              <div class="col-md-6">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Prénom">
                                  </mat-form-field>
                              </div>
                              <div class="col-md-6">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Adresse E-mail" type="email">
                                  </mat-form-field>
                              </div>
                              <div class="col-md-6">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Numéro" type="number">
                                  </mat-form-field>
                              </div>
                          </div>
                         
                          <div class="row">
                              <div class="col-md-12">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Adresse" type="text">
                                </mat-form-field>
                              </div>
                          </div>

                          <div class="row">
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Mot de passe" type="password">
                                </mat-form-field>
                              </div>
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Confirmer mot de passe" type="password">
                                </mat-form-field>
                              </div>
                          </div>
                          <a routerLink="/employees">
                          <button mat-raised-button type="submit" class="btn btn-warning pull-right">Confirmer</button>
                          </a>
                          <div class="clearfix"></div>
                      </form>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card card-profile">
                  <div class="card-avatar">
                      
                          <img _ngcontent-c16 class="img" src="./assets/img/profile.png" />
                         
                      
                  </div>
                  <div class="card-body">
                      
                      <h4 class="card-title">Asma Hatira</h4> <hr>
                      asma.hatira@hotmail.com <br>
                       (+216) 55 555 222 <br>
                       Ariana
                      
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
